@model UpdateVideoDto;
@{
    ViewData["Title"] = "Update Video";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <label>Video Url</label>
    <input type="text" asp-for="VideoUrl" class="form-control" />
    <span asp-validation-for="VideoUrl" class="text-danger"></span>
    <br />

    <button class="btn btn-outline-dark">Update</button>

</form>